// 表單與購物車的公同排版樣式
%mainFrameStyle {
  display: grid;
  grid-template-columns: 50% 30%;
  grid-gap: 10rem;
}

// PaymentInfoForm與ShippingForm的上下一步共同樣式
%stepShareStyle {
  display: flex;
  justify-content: space-between;
  > .steps__link {
    flex-basis: 30%;
  }
}

// PaymentInfoForm與ShippingForm的分隔線共同樣式
%divdeLineShareStyle {
  > .divide-line::before {
    width: 39.5%;
  }
}

// PaymentInfoForm與AddressForm的form-parts共同樣式
%formPartsShare {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  margin-top: 1rem;
}

.stepper__container--title {
  color: getMapColor("black");
}