// PaymentInfoForm與ShippingForm的上下一步共同樣式
%stepShareStyle {
  display: flex;
  justify-content: space-between;
  > .button-wrapper {
    flex-basis: 30%;
  }
}

// PaymentInfoForm與AddressForm的form-parts共同樣式
%formPartsShare {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-gap: 1rem;
  margin-top: 1rem;
}